.chart-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-container {
    flex: 1 1 calc(50% - 20px);
    /* Adjust the percentage to control the number of columns */
    box-sizing: border-box;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    max-width: 50%;
    margin: 0 auto;
}

.input-group label {
    margin-bottom: 0.5em;
}

.chart-container h2 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .chart-container {
        flex: 1 1 calc(50% - 20px);
        /* Two columns on medium screens */
    }
}

@media (max-width: 480px) {
    .chart-container {
        flex: 1 1 100%;
        /* One column on small screens */
    }
}

.user-list {
    max-height: 150px;
    /* Make it a bit taller for more results */
    overflow-y: auto;
    border: 1px solid #007bff;
    /* Change to match theme */
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    display: none;
    background-color: white;
    /* Ensure it has a background */
    z-index: 999;
    /* Ensure it appears above other elements */
}